@use './abstracts' as abs;
@use './variables' as var;
nav {
  //   border: 1px solid black;
  position: absolute;
  bottom: 0%;
  width: 100%;
  height: 50px;
  ul {
    @include abs.flex-row;
    justify-content: space-around;
    padding: 0%;
    list-style: none;
    margin: 0%;

    li {
      font-size: var.$nav-font-size;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
