@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
//FONTS
$global-font: "Montserrat", sans-serif;
$nav-font-size: 1.2rem;

//BG-COLORS
$primary: #0b9882;
$primary-light: #f2f9f6;
$primary-dark: #235347;
