@use './abstracts' as abs;
@use './variables' as var;

form {
  @include abs.flex-column;
  input {
    margin: 8px;
  }
}

//HOMEPAGE
.homepageTextContainer {
  @include abs.flex-column;
  justify-content: flex-start;
  height: 50%;

  h2 {
    color: var.$primary-dark;
  }

  p {
    @include var.ag_body2;
    margin: 16px;
    text-align: center;
  }
}

.homepageBtn {
  border: 0px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
  background-color: var.$peach-primary;
  color: white;
  width: 75%;
  height: 4%;
}

//DISCOVER
.categoriesContainer {
  // border: 1px solid black;
  width: 100%;
  height: 70%;

  h3 {
    color: var.$text-color-green;
    margin: 5% 5%;
    font-weight: bold;
  }

  .categoryCardContainer {
    @include abs.flex-row;
    justify-content: space-between;
    // border: 1px solid black;
    background-color: white;
    padding: 2px;
    margin: 8px 0px;
    height: 40px;
    box-shadow: 0px 5px 5px 1px grey;

    p {
      color: var.$txt-color;
      margin: 0%;
      margin-left: 5px;
      font-weight: bold;
    }

    i {
      margin-right: 5%;
      color: grey;
    }
  }
}
