@use "./abstracts" as abs;
@use "./variables" as var;

form {
  @include abs.flex-column;
  input {
    margin: 8px;
  }
}

//HOMEPAGE
.homepageContainer {
  @include abs.flex-column;
  justify-content: space-evenly;
  height: 100%;

  .textContainer {
    @include abs.flex-column;
    h2 {
      color: var.$primary-dark;
    }

    p {
      @include var.ag_body2;
      margin: 16px;
      text-align: center;
    }
  }
}

.homepageBtn {
  border: 0px solid black;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  outline: none;
  background-color: var.$peach-primary;
  color: white;
  width: 75%;
  height: 6%;
}

//DISCOVER
.categoriesContainer {
  // border: 1px solid black;
  width: 100%;
  height: 30%;
  margin-top: 40%;
  margin-bottom: 20%;

  h3 {
    color: var.$text-color-green;
    margin: 5% 5%;
    font-weight: bold;
  }

  .categoryCardContainer {
    @include abs.flex-row;
    justify-content: space-between;
    // border: 1px solid black;
    background-color: white;
    padding: 2px;
    margin: 8px 0px;
    height: 40px;
    box-shadow: 0px 5px 5px 1px grey;

    p {
      color: var.$txt-color;
      margin: 0%;
      margin-left: 5px;
      font-weight: bold;
    }

    i {
      margin-right: 5%;
      color: grey;
    }
  }
}

.recomendedContainer {
  width: 90%;
  font-family: var.$ad-card-font;
  margin-bottom: 100px;

  .adCardContainer {
    width: 90%;
    height: 100%;
    padding: 8px;
    // border: 1px solid black;
    background-color: white;
    box-shadow: 0px 0px 5px 0.2px black;
    border-radius: 5px;
    margin-bottom: 10%;

    h1 {
      margin: 0%;
      text-transform: uppercase;
      font-weight: bold;
    }

    .pricePlaceContainer {
      @include abs.flex-row;
      justify-content: space-between;
      width: 100%;
    }

    .picContainer {
      height: 60%;
    }

    button {
      border: none;
      background: none;
      outline: none;
      font-size: 20px;
      font-style: italic;
      font-weight: bold;
      text-decoration: underline;
      color: #f88472;
    }
  }
}

//BTN
.mainBtn {
  border: 0px solid black;
  border-radius: 10px;
  height: 50px;
  width: 80%;
  background-color: var.$primary;
  @include var.ag_body_bold;
  color: white;
  margin: 10% 0%;
  align-self: center;
}

//ADD FORM
.addFormContainer {
  margin-top: 600px;
  width: 100%;
  form {
    width: 100%;
    @include abs.flex-column;
    align-items: flex-start;

    .chooseFileContainer {
      @include abs.flex-column;
      background-color: white;
      width: 100%;
      height: 60px;

      .fileInput {
        width: 50%;
      }
    }

    textarea {
      border: none;
      resize: none;
      width: 99%;
      height: 60px;
      outline: none;
      font-family: var.$ad-card-font;

      &::placeholder {
        font-family: var.$ad-card-font;
        color: black;
      }
    }

    label {
      margin: 3%;
    }

    .inputDescTitle {
      margin-bottom: 5%;
    }

    input {
      outline: none;
      height: 40px;
      border: none;
      width: 99%;
      margin: 0%;
      font-family: var.$ad-card-font;

      &::placeholder {
        font-family: var.$ad-card-font;
        color: black;
      }
    }

    .optionsContainer {
      background-color: white;
      width: 100%;
      @include abs.flex-column;
      align-items: flex-start;
      font-family: var.$ad-card-font;
      div {
        @include abs.flex-row;
        justify-content: space-between;
        width: 50%;
        input {
          margin: 0%;
          margin-left: 5%;
          width: 10%;
        }

        .adressContainer {
          @include abs.flex-row;
          position: absolute;
          width: 50%;
          margin-top: 10%;
          margin-left: 10%;
          input {
            border: 1px solid black;
            height: 15px;
            width: 40%;
            margin: 0%;
            font-family: var.$ad-card-font;
          }
        }
      }

      p {
        @include var.body_small;
        width: 90%;
        padding: 8px;
      }
    }
  }
}
