@use "./abstracts" as abs;
@use "./variables" as var;

header {
  @include abs.flex-row;
  background-color: var.$peach-primary;
  color: white;
  width: 100%;
}

nav {
  @include abs.flex-column;

  position: fixed;
  bottom: 0%;
  width: 100%;
  height: 50px;
  background-color: var.$primary;
  ul {
    @include abs.flex-row;
    justify-content: space-around;
    padding: 0%;
    list-style: none;
    margin: 0%;
    width: 100%;

    li {
      font-size: var.$nav-font-size;
      a {
        text-decoration: none;
        color: black;
      }
    }
  }
}
