@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
//FONTS
$global-font: "Montserrat", sans-serif;
$ad-card-font: "Poppins", sans-serif;
$nav-font-size: 1.2rem;

//COLORS
$primary: #0b9882;
$primary-light: #f2f9f6;
$primary-dark: #235347;
$peach-primary: #f88472;
$text-color-green: #08947e;
$txt-color: #444444;

@mixin body_small {
  font-size: 12px;
  line-height: 22px;
  font-family: "Poppins", sans-serif;
}

@mixin ag_body_bold {
  font-size: 16px;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}

@mixin ag_body_semibold {
  font-size: 16px;
  line-height: 36px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
}

@mixin ag_body2 {
  font-size: 16px;
  line-height: 30px;
}
