@use './components';
@use './abstracts' as abs;
@use './variables' as var;

body {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: var.$global-font;
}

main {
  @include abs.flex-column;
  height: 100vh;
  background-color: var.$primary-light;
}
